<a href="https://colab.research.google.com/github/maxluna12/cvs/blob/main/csv_nba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#Importo la librería a utilizar y el archivo csv
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ispc-programador2022/C1006/main/output.csv')
print(df)

     Unnamed: 0             Player  Pos   Age   Tm     G    GS    MP   FG  \
0             0                NaN  NaN   NaN  NaN   NaN   NaN   NaN  NaN
1             1       Steven Adams    C  26.0  OKC  63.0  63.0  26.7  4.5
2             2        Bam Adebayo   PF  22.0  MIA  72.0  72.0  33.6  6.1
3             3  LaMarcus Aldridge    C  34.0  SAS  53.0  53.0  33.1  7.4
4             4     Kyle Alexander    C  23.0  MIA   2.0   0.0   6.5  0.5
..          ...                ...  ...   ...  ...   ...   ...   ...  ...
673         673         Trae Young   PG  21.0  ATL  60.0  60.0  35.3  9.1
674         674        Cody Zeller    C  27.0  CHO  58.0  39.0  23.1  4.3
675         675       Tyler Zeller    C  30.0  SAS   2.0   0.0   2.0  0.5
676         676         Ante Žižić    C  23.0  CLE  22.0   0.0  10.0  1.9
677         677        Ivica Zubac    C  22.0  LAC  72.0  70.0  18.4  3.3

      FGA  ...    FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0     NaN  ...    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN
1     7.6  ...  0.582  3.3  6.0   9.3  2.3  0.8  1.1  1.5  1.9  10.9
2    11.0  ...  0.691  2.4  7.8  10.2  5.1  1.1  1.3  2.8  2.5  15.9
3    15.0  ...  0.827  1.9  5.5   7.4  2.4  0.7  1.6  1.4  2.4  18.9
4     1.0  ...    NaN  1.0  0.5   1.5  0.0  0.0  0.0  0.5  0.5   1.0
..    ...  ...    ...  ...  ...   ...  ...  ...  ...  ...  ...   ...
673  20.8  ...  0.860  0.5  3.7   4.3  9.3  1.1  0.1  4.8  1.7  29.6
674   8.3  ...  0.682  2.8  4.3   7.1  1.5  0.7  0.4  1.3  2.4  11.1
675   2.0  ...    NaN  1.5  0.5   2.0  0.0  0.0  0.0  0.0  0.0   1.0
676   3.3  ...  0.737  0.8  2.2   3.0  0.3  0.3  0.2  0.5  1.2   4.4
677   5.3  ...  0.747  2.7  4.8   7.5  1.1  0.2  0.9  0.8  2.3   8.3

[678 rows x 30 columns]

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ispc-programador2022/C1006/main/output.csv')
df.info()#est función me da toda la información  del archivo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  678 non-null    int64
 1   Player      651 non-null    object
 2   Pos         651 non-null    object
 3   Age         651 non-null    float64
 4   Tm          651 non-null    object
 5   G           651 non-null    float64
 6   GS          651 non-null    float64
 7   MP          651 non-null    float64
 8   FG          651 non-null    float64
 9   FGA         651 non-null    float64
 10  FG%         649 non-null    float64
 11  3P          651 non-null    float64
 12  3PA         651 non-null    float64
 13  3P%         616 non-null    float64
 14  2P          651 non-null    float64
 15  2PA         651 non-null    float64
 16  2P%         645 non-null    float64
 17  eFG%        649 non-null    float64
 18  FT          651 non-null    float64
 19  FTA         651 non-null    float64
 20  FT%         618 non-null    float64
 21  ORB         651 non-null    float64
 22  DRB         651 non-null    float64
 23  TRB         651 non-null    float64
 24  AST         651 non-null    float64
 25  STL         651 non-null    float64
 26  BLK         651 non-null    float64
 27  TOV         651 non-null    float64
 28  PF          651 non-null    float64
 29  PTS         651 non-null    float64
dtypes: float64(26), int64(1), object(3)
memory usage: 159.0+ KB

In [ ]:
df.shape

(678, 30)

In [ ]:
df.index

RangeIndex(start=0, stop=678, step=1)

In [ ]:
df.dtypes

Unnamed: 0      int64
Player         object
Pos            object
Age           float64
Tm             object
G             float64
GS            float64
MP            float64
FG            float64
FGA           float64
FG%           float64
3P            float64
3PA           float64
3P%           float64
2P            float64
2PA           float64
2P%           float64
eFG%          float64
FT            float64
FTA           float64
FT%           float64
ORB           float64
DRB           float64
TRB           float64
AST           float64
STL           float64
BLK           float64
TOV           float64
PF            float64
PTS           float64
dtype: object

In [ ]:
df.head(5)

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Steven Adams,C,26.0,OKC,63.0,63.0,26.7,4.5,7.6,...,0.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
2,2,Bam Adebayo,PF,22.0,MIA,72.0,72.0,33.6,6.1,11.0,...,0.691,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9
3,3,LaMarcus Aldridge,C,34.0,SAS,53.0,53.0,33.1,7.4,15.0,...,0.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
4,4,Kyle Alexander,C,23.0,MIA,2.0,0.0,6.5,0.5,1.0,...,NaN,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0

In [ ]:
df.tail(5)

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
673,673,Trae Young,PG,21.0,ATL,60.0,60.0,35.3,9.1,20.8,...,0.860,0.5,3.7,4.3,9.3,1.1,0.1,4.8,1.7,29.6
674,674,Cody Zeller,C,27.0,CHO,58.0,39.0,23.1,4.3,8.3,...,0.682,2.8,4.3,7.1,1.5,0.7,0.4,1.3,2.4,11.1
675,675,Tyler Zeller,C,30.0,SAS,2.0,0.0,2.0,0.5,2.0,...,NaN,1.5,0.5,2.0,0.0,0.0,0.0,0.0,0.0,1.0
676,676,Ante Žižić,C,23.0,CLE,22.0,0.0,10.0,1.9,3.3,...,0.737,0.8,2.2,3.0,0.3,0.3,0.2,0.5,1.2,4.4
677,677,Ivica Zubac,C,22.0,LAC,72.0,70.0,18.4,3.3,5.3,...,0.747,2.7,4.8,7.5,1.1,0.2,0.9,0.8,2.3,8.3

In [3]:
print (Player)

NameError: ignored